[user]
	name = b217ck
	email = b217ck@gmail.com
[core]
	autocrlf = true
	safecrlf = warn
	quotepath = off
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	history = log
